In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv(r"C:\Users\timom\anaconda3\envs\madeleine_project\ThermochronTracking Elephants Kruger 2007.csv")
df.tail()

,event-id,visible,timestamp,location-long,location-lat,external-temperature,sensor-type,individual-taxon-canonical-name,tag-local-identifier,individual-local-identifier,study-name
283683,9421634855,True,2009-08-12 19:30:00.000,31.63939,-24.24486,23.0,gps,Loxodonta africana,AM99,AM99,ThermochronTracking Elephants Kruger 2007
283684,9421634856,True,2009-08-12 20:00:00.000,31.63845,-24.24861,22.0,gps,Loxodonta africana,AM99,AM99,ThermochronTracking Elephants Kruger 2007
283685,9421634857,True,2009-08-12 20:30:00.000,31.63877,-24.24964,22.0,gps,Loxodonta africana,AM99,AM99,ThermochronTracking Elephants Kruger 2007
283686,9421634858,True,2009-08-12 21:00:00.000,31.63941,-24.25083,21.0,gps,Loxodonta africana,AM99,AM99,ThermochronTracking Elephants Kruger 2007
283687,9421634859,True,2009-08-12 21:30:00.000,31.63960,-24.25192,21.0,gps,Loxodonta africana,AM99,AM99,ThermochronTracking Elephants Kruger 2007

In [3]:
tags = [
    'AM105',
    'AM107',
    'AM108',
    'AM110',
    'AM239',
    'AM253',
    'AM254',
    'AM255',
    'AM306',
    'AM307',
    'AM308',
    'AM91',
    'AM93',
    'AM99',
]

In [4]:
df['timestamp'] = pd.to_datetime(df['timestamp'],errors='ignore')

In [5]:
df = df.set_index('timestamp')

In [8]:
def imputing(element, freq):
    sf = df.loc[df['tag-local-identifier'] == tags[element]]
    resample_index = pd.date_range(start=sf.index[0], end=sf.index[-1], freq=freq)
    dummy_frame = pd.DataFrame(np.NaN, index=resample_index, columns=sf.columns)
    ds = sf.combine_first(dummy_frame).interpolate('time').resample(freq).asfreq()
    ds['sensor-type']='gps'
    ds['individual-taxon-canonical-name']='Loxodonta africana'
    ds['tag-local-identifier']=tags[element]
    ds['individual-local-identifier']=tags[element]
    ds['study-name']='ThermochronTracking Elephants Kruger 2007'
    ds['visible']='True'
    ds.to_csv(tags[element] +'.csv')

In [20]:
for element in range(len(tags)):
    imputing(element, '30min')

In [21]:
df105 = pd.read_csv(r"C:\Users\timom\AM105.csv")
df107 = pd.read_csv(r"C:\Users\timom\AM107.csv")
df108 = pd.read_csv(r"C:\Users\timom\AM108.csv")
df110 = pd.read_csv(r"C:\Users\timom\AM110.csv")
df239 = pd.read_csv(r"C:\Users\timom\AM239.csv")
df253 = pd.read_csv(r"C:\Users\timom\AM253.csv")
df254 = pd.read_csv(r"C:\Users\timom\AM254.csv")
df255 = pd.read_csv(r"C:\Users\timom\AM255.csv")
df307 = pd.read_csv(r"C:\Users\timom\AM307.csv")
df308 = pd.read_csv(r"C:\Users\timom\AM308.csv")
df93 = pd.read_csv(r"C:\Users\timom\AM93.csv")
df99 = pd.read_csv(r"C:\Users\timom\AM99.csv")

In [22]:
listing = [
    df105,
    df107,
    df108,
    df110,
    df239,
    df253,
    df254,
    df255,
    df307,
    df308,
    df93,
    df99
]

In [23]:
df_full = pd.concat(listing)

In [24]:
df_full.to_csv('imputed_dataframe30min2.csv')

In [25]:
df_full.describe()

           event-id  location-long   location-lat  external-temperature
count  3.673680e+05  367368.000000  367368.000000         367368.000000
mean   9.421470e+09      31.651153     -24.605503             27.710776
std    8.633658e+04       0.160474       0.263918              6.078912
min    9.421351e+09      31.062690     -25.376760              6.000000
25%    9.421390e+09      31.508460     -24.814490             23.250000
50%    9.421457e+09      31.672190     -24.559281             27.000000
75%    9.421539e+09      31.773327     -24.399335             33.000000
max    9.421635e+09      32.004330     -24.068760             47.000000